<div class="footer" id="footer">
  <div class="part" id="part-1">
    <h3 class="logo-tag" style="color: var(--main-color);">Scroll
      <div class="logo-dot"></div></h3>
    <span class="copyright">@ 2021 Copyright Aman Kanojiya </span>
  </div>
  <div class="part links" id="part-2">
    <a href="/about" style="text-decoration:none;">
      <h2>About Us</h2>
    </a>
    <div class="about" id="about-link-1">Aman Kanojiya</div>
    <div class="about" id="about-link-2">Student and Learner</div>
    <div class="about" id="about-link-3">IIT (ISM) Dhanbad</div>
    <div class="about" id="about-link-4"> </div>
    <div class="about" id="about-link-5"></div>
  </div>
  <div class="part links" id="part-3">
    <h2>Product</h2>
    <div class="about" id="product-link-1">Newsletter</div>
    <div class="about" id="product-link-2">Rolex Watch</div>
    <div class="about" id="product-link-3">Hp laptop</div>
    <div class="about" id="product-link-4">Calculator</div>
  </div>
  <div class="part links" id="part-4">
    <h2>Contact Us</h2>
    <div class="detail">
      <span class="time">aman.4203@gmail.com</span>
      <br />
      <span class="time">+91-123456789</span>
    </div>
  </div>
</div>