<div class="hamburger" id="hamburger">
  <div class="main-ham">
    <div class="content">
      <ul>
        <a href="/"><li>About us</li></a>
        <a href="/"><li>Portfolio</li></a>
        <a href="/"><li>Profile</li></a>
        <a href="/"><li>Contact</li></a>
        <a href="/"><li>Logout</li></a>
      </ul>
    </div>
    <div class="closer" id="ham-closer">X</div>
  </div>
</div>