<div class="lowerbar">
  <a href="https://sw-ke.facebook.com/aman.kanojiya.792303">
    <img
      src="../images/facebook.png"
      alt=""
      srcset=""
      class="logo_social"
    /></a>
  <a href="https://www.instagram.com/aman_thecodeaddict/">
    <img
      src="../images/instagram.png"
      alt=""
      srcset=""
      class="logo_social"
    /></a>
  <a href="https://www.linkedin.com/in/aman-kanojiya-782263188/">
    <img
      src="../images/linkedin.png"
      alt=""
      srcset=""
      class="logo_social"
    /></a>
  <a href="mailto: aman.kanojiya4203@gmail.com">
    <img src="../images/email.png" alt="" srcset="" class="logo_social" /></a>
  <a href="https://github.com/AMANKANOJIYA">
    <img src="../images/github.png" alt="" srcset="" class="logo_social" /></a>
</div>