<div class="top" id="top">
  <a
    href="/"
    style="text-decoration: none; list-style:none; color:var(--main-color);"
  >
    <h3 class="logo-tag">Scroll <div class="logo-dot"></div></h3></a>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a
        href="https://github.com/AMANKANOJIYA"
        target="_blank"
      >Github</a></li>
    <li><a
        href="https://amankanojiya.github.io/Portfolio-Aman-Kanojiya/"
        target="_blank"
      >Portfolio</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>