{{>topNav}}
{{>hamburger}}
<div class="about-containor">
<h1 class="logo-tag">About Us</h1>
<p class="about-content" id="content_about-1">Scroll Is a website where users can gain knowledge
    by reading blogs about new technology and the present tech updates. this website is open to all by first have to create an account until that you can't access this site this is because we can be a part of a big community and we can create a better experience for users it will help us to get your Feild of interest and can generate more accurate Results and Content 
</p>
<p class="about-content" id="content_about-1">The scroll is a blogging website. and its created for tech geeks and the enthusiast of learning new technologies in 
all fields like ML AI python and many more they can explore maths too so that it can help us in upcoming projects
you can also contact the coordinator to make your blog on this site 
</p>
<p class="about-content" id="content_about-2">You can also publish your Blog. You have to contact the Owner of this site from the Contact section or send me a Mail with the topic you like to add to this site. together we can create a better experience for all users </p>
<p class="about-content" id="content_about-3">If someone wants to contribute, they can contact the owner and tell the idea or things to add and get connected to this awesome scroll community. it will be a pleasure for us to connect and pitch new ideas together
</p>
<p class="about-content" id="content_about-4">The scroll is at the beginner stage and created in not more than ten days. We will improve the GUI. We know it's difficult for developers to use a Light theme, so in future updates, we will try to add a Dark theme.</p>
<p class="about-content" id="content_about-5">For more Consultancy, you can contact AMAN KANOJIYA 
    who is the owner of this site and trying to create a more user friendly
</p>
</div>
{{>footer}}
{{>socialMedia}}