<span
  class="short-des-blog time"
  style="margin-bottom: 40px;"
>{{blog_content.date}}</span>
<img
  class="blogpage-image"
  src="../{{blog_content.img_src}}"
  alt="This is a Image"
/>
<h1 class="blogpage-heading">{{blog_content.title}}</h1>
<p class="blogpage-content">{{blog_content.content}}</p>
{{>comment}}