{{>topNav}}
<div class="about-containor">
<h1 class="logo-tag">Contact</h1>
<form action="" class="form" id="contact-form" method="POST">
<lable class="name lable" name="name-contact">Full Name *</lable>
<input class="input" type="text" name="name" placeholder="Name ... ">
<lable class="email lable" name="email-contact">Email *</lable>
<input class="input" type="email" name="email" placeholder="example@gmail.com ...  ">
<lable class="feed lable" name="feed-contact">FeedBack *</lable>
<textarea class="textarea input" name="feedback" id="feedback" cols="80" rows="10"></textarea>
<button type="submit" class="button_add_comment" style="margin-top:50px;">Submit</button>
</form>
</div>
{{>footer}}
{{>socialMedia}}
