<div class="main">
  <div class="box">
    <h3>Login</h3>
    <form action="" method="post" class="form_auth">
      <div class="form_div">
        <label for="email">Email*</label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="form_div">
        <label for="password">Password*</label>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit" class="auth_submit">Login</button>
    </form>
    <p class="para_auth">New User ?? <a href="/signup">Click Here</a></p>
  </div>
</div>