<div class="main">
  <div class="box">
    <h3>Login</h3>
    <form action="" method="post" class="form_auth">
      {{#if messages.error}}
        <p class="errorshown">{{messages.error}}</p>
      {{/if}}
      <div class="form_div">
        <label for="username">Email*</label>
        <input type="email" id="username" name="username" />
      </div>
      <div class="form_div">
        <label for="password">Password*</label>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit" class="auth_submit">Login</button>
    </form>
    <p class="para_auth">New User ?? <a href="/signup">Click Here</a></p>
  </div>
</div>