{{>topNav}}
<div class="main-profile">
    <div class="img-section">
        <img src="../images/default.jpeg" alt="" srcset="" class="user-image">
        <span>edit</span>
    </div>
    <div class="bio-section">
        <h2>User Name</h2>
        <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus, veritatis sequi obcaecati voluptatum aperiam a eligendi atque necessitatibus. A consequuntur assumenda quas fugiat delectus amet repudiandae, quis ad eius est quos, ut dolorum dolorem, repellendus iusto officiis quae eum.</p>
        <span class="date">Join Date : 21st June 2021</span>
        <h4>Intrested in :</h4>
        <p class="bio-intrest"><span>Python</span><span>Java</span><span>Node</span><span>JS</span></p>
    </div>
</div>