<div class="main">
  <div class="box">
    <h3>SignUp</h3>
    <form action="" method="post" class="form_auth">
      <div class="form_div">
        <label for="username">Username*</label>
        <input type="text" id="username" name="username" class="auth_input" />
      </div>
      <div class="form_div">
        <label for="email">Email*</label>
        <input type="email" id="email" name="email" class="auth_input" />
      </div>
      <div class="form_div">
        <label for="password">Password*</label>
        <input
          type="password"
          id="password"
          name="password"
          class="auth_input"
        />
      </div>
      <div class="form_div">
        <label for="cpassword">Confirm Password*</label>
        <input
          type="password"
          id="cpassword"
          name="cpassword"
          class="auth_input"
        />
      </div>
      <button type="submit" class="auth_submit">SignUp</button>
    </form>
    <p class="para_auth">Already created an account ??
      <a href="/login">Click Here</a></p>
  </div>
</div>